.inputContainer {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    background-color: none;
    padding: 10px 15px;
}

.label {
    width: 100px;
    text-align: left;
    font-size: 18px;
    font-weight: 600;
}

.inputContainer input{
    width: 200px;
    outline: none;
    height: 25px;
}