.Category{
    padding: 20px;
    background-color: whitesmoke;
    min-width: 250px;
    width: calc(25% - 10px);
    margin: 5px;
    min-height: 420px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 5px;
    cursor: pointer;
    flex-grow: 1;
}
.Category__imageContainer{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.Category__single {
    margin-top: auto;
    width: 100%;
    height: auto;
    /* aspect-ratio: 8/9; */
    object-fit:cover ;
}
.Category__multiple{
 width: calc(50% - 10px);
 aspect-ratio: 1/1;
 margin: 5px;
 object-fit: cover;
}
.Category > p{
    height: 20px;
    font-size: 15px;
    text-decoration: underline;
    color: rgb(89, 0, 255);
    cursor: pointer;
}