.Slider{
    position: relative;
    height: 600px;
    width: 100%;
}
.Slider > img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.Slider__fadein{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-image:linear-gradient(to top  , var(--bgColor)  , transparent) ;
}