.Slider{
    position: relative;
    height: 600px;
    width: 100%;
    z-index: 0;
    overflow: hidden;
}
.Slider > img{
    height: 120%;
    width: 100%;
    object-fit: cover;
    object-position:  center top;
}
.Slider__fadein{
    position: absolute;
    bottom: 0;
    height: 50%;
    width: 100%;
    background-image:linear-gradient(to top  , var(--bgColor)  , transparent) ;
    z-index: 0;
}